* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --black-t5: #333333;
  --bg: #1a1a1a;
  --gray-t3: #e5e7eb;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-6xl {
  font-size: 4rem;
}

body {
  background-color: var(--black) !important;
  min-height: 100vh;
  color: white;
  position: relative;
  top: -33px;
  margin-top: 60px !important;
}
body .barra {
  width: 100vw;
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 998;
}
body span {
  color: white;
}
body #all-page {
  width: 100%;
  margin-top: 40px;
}
body #all-page #sidebar {
  width: 133px;
  height: 542px;
  position: fixed;
  z-index: 999;
}
body #all-page #sidebar .navbar-nav .nav-item {
  margin-top: 2px;
}
body #all-page #sidebar .navbar-nav .nav-item .nav-link.active,
body #all-page #sidebar .navbar-nav .nav-item .nav-link :hover {
  filter: invert(1);
}
body #all-page #container-area {
  width: calc(100% - 133px);
  margin-left: 133px;
}
body #all-page #container-area #page-top {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: black;
}
body #all-page #container-area #page-top #search-area {
  flex: 1;
  height: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  border: 2px solid var(--black-t5);
  border-radius: 200px;
}
body #all-page #container-area #page-top #search-area input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  margin: 0 20px;
  color: white;
}
body #all-page #container-area #page-top #search-area input::-moz-placeholder {
  color: var(--gray-t3);
  -moz-transition: 0.3s ease-in-out opacity;
  transition: 0.3s ease-in-out opacity;
}
body #all-page #container-area #page-top #search-area input:-ms-input-placeholder {
  color: var(--gray-t3);
  -ms-transition: 0.3s ease-in-out opacity;
  transition: 0.3s ease-in-out opacity;
}
body #all-page #container-area #page-top #search-area input::placeholder {
  color: var(--gray-t3);
  transition: 0.3s ease-in-out opacity;
}
body #all-page #container-area #page-top #search-area input:focus::-moz-placeholder {
  opacity: 0.5;
}
body #all-page #container-area #page-top #search-area input:focus:-ms-input-placeholder {
  opacity: 0.5;
}
body #all-page #container-area #page-top #search-area input:focus::placeholder {
  opacity: 0.5;
}
body #all-page #container-area #page-top #search-area .filter-btn {
  display: flex;
  align-items: center;
}
body #all-page #container-area #page-top #user-area {
  flex: 1;
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  padding-left: 10px;
  border: 2px solid var(--black-t5);
  border-radius: 200px;
}
body #all-page #container-area #page-top #user-area .avatar {
  position: relative;
  left: 20px;
  width: 70px;
  border-radius: 50%;
}
body #all-page #container-area #cards-track {
  margin-top: 30px;
  position: relative;
  top: 100px;
  padding-left: 40px;
}
body #all-page #container-area #cards-track h3 {
  color: white;
}
body #all-page #container-area #cards-track .cards {
  display: flex;
  margin-top: 33px;
  max-width: 850px;
  height: 439px;
}
body #all-page #container-area #cards-track .cards .carousel-item {
  height: 400px;
}
body #all-page #container-area #cards-track .cards .yellow:after {
  box-shadow: inset 0px -100px 100px -60px #ffc401;
}
body #all-page #container-area #cards-track .cards .blue:after {
  box-shadow: inset 0px -100px 100px -60px #0039f3;
}
body #all-page #container-area #cards-track .cards .pink:after {
  box-shadow: inset 0px -100px 100px -60px #f00070;
}
body #all-page #container-area #cards-track .cards .green:after {
  box-shadow: inset 0px -100px 100px -60px #00f05c;
}
body #all-page #container-area #cards-track .cards .card {
  max-width: 440px !important;
  height: 440px !important;
  background-color: black;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  border: none;
  cursor: -webkit-grab;
  cursor: grab;
  transition: 0.5s ease-in-out transform;
}
body #all-page #container-area #cards-track .cards .card:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
body #all-page #container-area #cards-track .cards .card.firt-card {
  margin-left: 0 !important;
}
body #all-page #container-area #cards-track .cards .card img {
  width: 100%;
  position: absolute;
  top: -12%;
}
body #all-page #container-area #cards-track .cards .card .content-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 900;
  padding: 50px;
}
body #all-page #container-area #cards-track .cards .card .content-card .desc-content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 350px;
}
body #all-page #container-area #cards-track .cards .card .content-card .desc-content .img-desc {
  width: 80px;
  padding: 5px;
}
body #all-page #container-area #cards-track .cards .card .content-card .desc-content .img-desc img {
  width: 100%;
  position: relative;
}
body #all-page #container-area #cards-track .cards .card .content-card .desc-content .desc-txt {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
body #all-page #container-area #seta-scroll {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 45px;
  z-index: 999;
  cursor: pointer;
}
body #all-page #container-area #seta-scroll img {
  width: 60%;
}
body #all-page .players-area {
  position: relative;
  top: 150px;
}
body #all-page .players-area p {
  color: white;
}

.swiper-pagination-bullet {
  background-color: red;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

/*
 *  STYLE 15
 */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#052500), to(#004e04), color-stop(0.6, #002402));
}

@media (max-width: 505px) {
  body #all-page #container-area #cards-track {
    display: none;
  }
  body #all-page #container-area #page-top {
    width: 78% !important;
}
body #all-page #container-area #page-top #user-area {
  display: none;
}
}
@media (max-width: 978px) {
  body #all-page #container-area #cards-track .cards .card .card-img {
    top: -155px !important;
  }
}
@media (max-width: 1024px) {
  body #all-page #sidebar {
    width: 97px;
  }

  body #all-page #container-area {
    width: calc(100% - 97px);
    margin-left: 97px;
  }

  body #all-page #container-area #cards-track .cards .card {
    max-width: 100% !important;
  }

  body #all-page #container-area #cards-track .cards .card img {
    top: -100%;
  }

  span {
    color: white;
    font-size: 21px !important;
  }

  body #all-page #container-area #cards-track .cards .card .content-card .desc-content .img-desc img {
    top: 0px;
    width: 100%;
  }
}
@media (max-width: 1025px) {
  body #all-page #container-area #page-top {
    width: 80%;
  }
}
@media (max-width: 1439px) and (min-width: 1367px) {
  body #all-page #container-area #cards-track {
    max-width: 79vw;
  }
}
@media (max-width: 1440px) {
  body #all-page #container-area #page-top #user-area {
    max-width: 263px;
    /* height: 100%; */
  }

  body #all-page #container-area #page-top #user-area .avatar {
    width: 60px;
  }

  .navbar img,
#page-top img {
    width: 22px;
  }

  .logo-spotify {
    width: 44px !important;
  }

  body #all-page #container-area #cards-track .cards .card {
    min-width: 348px;
    height: 342px !important;
  }

  body #all-page #container-area #cards-track .cards .card .content-card .desc-content {
    top: 75%;
  }

  body #all-page #container-area #page-top #search-area {
    height: 80%;
    min-height: 44px;
  }

  body #all-page #container-area #page-top {
    width: 87%;
  }

  body #all-page #container-area #cards-track #seta-scroll {
    top: 40%;
  }

  body #all-page #container-area #cards-track .cards .card .content-card .desc-content .desc-txt {
    margin-left: 0px;
  }

  body #all-page #container-area #cards-track .cards .card .content-card .desc-content .img-desc img {
    width: 70%;
  }

  ::-moz-placeholder {
    color: white;
    font-size: 21px !important;
  }

  :-ms-input-placeholder {
    color: white;
    font-size: 21px !important;
  }

  span,
p,
::placeholder {
    color: white;
    font-size: 21px !important;
  }
}/*# sourceMappingURL=style.css.map */