* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --black-t2: #0d0d0d;
  --black-t3: #1A1A1A;
  --black-t5: #333333;
  --blue-t5: #859dff;
  --bg: #1a1a1a;
  --gray-t3: #e5e7eb;
  --gray-t5: #9ca3af;
}
.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1.125rem;
}
.text-lg {
  font-size: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-4xl {
  font-size: 2.25rem;
}
.text-5xl {
  font-size: 3rem;
}
.text-6xl {
  font-size: 4rem;
}
body {
  background-color: var(--black) !important;
  min-height: 100vh;
  color: white;
  position: relative;
  top: -33px;
  margin-top: 60px !important;
  .barra {
    width: 100vw;
    height: 123px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 998;
  }
  span {
    color: white;
  }
  #all-page {
    width: 100%;
    margin-top: 80px;
    #sidebar {
      width: 133px;
      height: 542px;
      position: fixed;
      z-index: 999;
      .navbar-nav {
        .nav-item {
          margin-top: 2px;
          .nav-link {
            &.active,
            :hover {
              filter: invert(1);
            }
          }
        }
      }
    }
    #container-area {
      width: calc(100% - 133px);
      margin-left: 133px;
      #page-top {
        width: 90%;
        height: 75px;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 999;
        background-color: black;
        #search-area {
          flex: 1;
          height: 100%;
          min-height: 75px;
          display: flex;
          align-items: center;
          padding: 0 25px;
          border: 2px solid var(--black-t5);
          border-radius: 200px;

          input {
            width: 100%;
            height: 100%;
            background: none;
            outline: none;
            border: none;
            margin: 0 20px;
            color: white;

            &::placeholder {
              color: var(--gray-t3);
              transition: 0.3s ease-in-out opacity;
            }
            &:focus {
              &::placeholder {
                opacity: 0.5;
              }
            }
          }
          .filter-btn {
            display: flex;
            align-items: center;
          }
        }
        #user-area {
          flex: 1;
          max-width: 350px;
          display: flex;
          justify-content: space-around;
          margin-left: 10px;
          padding-left: 10px;
          border: 2px solid var(--black-t5);
          border-radius: 200px;
          .avatar {
            position: relative;
            left: 20px;
            width: 70px;
            border-radius: 50%;
          }
        }
      }
      #cards-track {
        margin-top: 30px;
        position: relative;
        top: 100px;
        padding-left: 40px;
        h3 {
          color: white;
        }
        .cards {
          display: flex;
          margin-top: 33px;
          max-width: 850px;
          height: 439px;

          .carousel-item {
            height: 400px;
          }
          .yellow:after {
            -webkit-box-shadow: inset 0px -50px 50px -30px #ffc401;
            box-shadow: inset 0px -100px 100px -60px #ffc401;
          }
          .blue:after {
            -webkit-box-shadow: inset 0px -50px 50px -30px #0039f3;
            box-shadow: inset 0px -100px 100px -60px #0039f3;
          }
          .pink:after {
            -webkit-box-shadow: inset 0px -50px 50px -30px #f00070;
            box-shadow: inset 0px -100px 100px -60px #f00070;
          }

          .green:after {
            -webkit-box-shadow: inset 0px -50px 50px -30px #00f05c;
            box-shadow: inset 0px -100px 100px -60px #00f05c;
          }
          .card {
            max-width: 440px !important;
            height: 440px !important;
            background-color: rgb(0, 0, 0);
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            border: none;
            cursor: grab;
            transition: 0.5s ease-in-out transform;

            &:after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              content: "";
            }
            &.firt-card {
              margin-left: 0 !important;
            }

            img {
              width: 100%;
              position: absolute;
              top: -12%;
            }
            .content-card {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              z-index: 900;
              padding: 30px;
              .desc-content {
                display: flex;
                width: 100%;
                position: absolute;
                top: 350px;
                .img-desc {
                  width: 70px;
                  padding: 5px;
                  img {
                    width: 100%;
                    position: relative;
                  }
                }
                .desc-txt {
                  display: flex;
                  flex-direction: column;
                  margin-left: 30px;
                }
              }
            }
          }
        }
      }
      #seta-scroll {
        position: absolute;
        right: 5px;
        top: 50%;
        width: 45px;
        z-index: 999;
        cursor: pointer;
        img {
          width: 60%;
        }
      }
    }
    .players-area {
      position: relative;
      top: 150px;
      padding: 0 20px;

      .areas {
        margin: 45px 0;
        h3 {
          color: white;
          margin-bottom: 45px;
        }
        .area-card {
          display: flex;
          width: 98%;
          background-color: var(--black-t2);
          min-height: 317px;
          border-radius: 5%;
          border: 1px solid var(--black-t5);
        }
        #loFi-card {
          //  width: 653px;
          //  height: 317px;
          position: relative;
          padding: 29px 30px;
          margin: 45px 0;
          .lofi-1 {
            width: 100%;
            height: 260px;
            overflow: hidden;
            margin-right: 16px;
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
          .lofi-2 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
              width: 134px;
              margin: 5px;
              border-radius: 8px;
            }
          }
        }
        #musics-card {
          position: relative;
          padding: 29px 30px;
          display: flex;
          flex-direction: column;
          .music-area {
            display: flex;
            justify-content: space-between;
            height: min-content;
            align-items: center;
            margin-top: 35px;
            .img-music {
              width: 60px;
              height: 60px;
              margin-right: 25px;
              img {
                width: 100%;
                border-radius: 5px;
              }
            }
            .info-music {
              display: flex;
              align-items: center;
              width: 55%;
              margin-right: 26px;
              justify-content: inherit;
              .info {
                line-height: 31px;
                .nome-music {
                  color: white;
                }
                .nome-autor {
                  color: var(--gray-t5);
                }
              }
            }
            .buttons-musics {
              width: 122px;
              height: 64px;
              border: 1px solid var(--gray-t5);
              padding: 5px;
              position: relative;
              border-radius: 35px;
              img {
                margin: 0 5px;
                position: absolute;
                cursor: pointer;
                transition: 0.5s ease-in-out opacity;
                &:hover {
                  opacity: 0.7;
                }
                &.play {
                  top: 0px;
                  right: -8px;
                  background-color: var(--black-t2);
                  border-radius: 50%;
                }
                &.heart {
                  top: 15px;
                  left: 15px;
                  width: 30px;
                }
              }
            }
          }
        }
        #friends-card {
          flex-direction: column;
          padding: 10px 0;
          min-width: 296px;
          h3 {
            margin-left: 15px;
            margin-top: 25px;
          }
          #div-friends {
            margin-bottom: 50px;
            .friend-area {
              display: flex;
              padding: 10px;
              align-items: center;
              align-self: self-start;
              margin-bottom: 10px;
              .friend-picture {
                width: 55px;
                margin-right: 5px;
                img {
                  width: 100%;
                }
              }
              .friend-info {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                .friend-name {
                  color: white;
                  font-weight: 600;
                }
                .friend-status {
                  color: var(--gray-t5);

                  i {
                    margin-right: 5px;
                    color: rgb(0, 241, 0);
                  }
                }
              }
            }
          }
          .button-area{
            width: 100%;
            display: flex;
            justify-content: center;
            button{
              width: 80%;
              padding: 14px;
              border: none;
              background-color:var(--black-t5);
              color: white;
              border-radius: 8px;
              transition: .4s ease-in-out background;
              &:hover{
                background-color: var(--black-t3) ;
              }
            }
          }
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: red;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
/*
 *  STYLE 15
 */

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#052500),
    to(#004e04),
    color-stop(0.6, #002402)
  );
}

@media (max-width: 505px) {
  body #all-page #container-area #cards-track {
    display: none;
  }
}
@media (max-width: 978px) {
  body #all-page #container-area #cards-track .cards .card .card-img {
    top: -155px !important;
  }
}
@media (max-width: 1024px) {
  body #all-page #sidebar {
    width: 97px;
  }
  body #all-page #container-area {
    width: calc(100% - 97px);
    margin-left: 97px;
  }
  body #all-page #container-area #cards-track .cards .card {
    max-width: 100% !important;
  }
  body #all-page #container-area #cards-track .cards .card img {
    top: -100%;
  }
  span {
    color: white;
    font-size: 21px !important;
  }
  body
    #all-page
    #container-area
    #cards-track
    .cards
    .card
    .content-card
    .desc-content
    .img-desc
    img {
    top: 0px;
    width: 100%;
  }
}
@media (max-width: 1025px) {
  body #all-page #container-area #page-top {
    width: 80%;
  }
}
@media (max-width: 1439px) and (min-width: 1189px) {
  body #all-page #container-area #cards-track {
    max-width: 79vw;
  }
}
@media (max-width: 1440px) {
  body #all-page #container-area #page-top #user-area {
    max-width: 263px;
    /* height: 100%; */
  }

  body #all-page #container-area #page-top #user-area .avatar {
    width: 60px;
  }
  .navbar img,
  #page-top img {
    width: 22px;
  }
  .logo-spotify {
    width: 44px !important;
  }
  body #all-page #container-area #cards-track .cards .card {
    height: 342px !important;
  }
  body
    #all-page
    #container-area
    #cards-track
    .cards
    .card
    .content-card
    .desc-content {
    top: 75%;
  }
  body #all-page #container-area #page-top #search-area {
    height: 80%;
    min-height: 44px;
  }
  body #all-page #container-area #page-top {
    width: 87%;
  }
  body #all-page #container-area #cards-track #seta-scroll {
    top: 40%;
  }
  body
    #all-page
    #container-area
    #cards-track
    .cards
    .card
    .content-card
    .desc-content
    .desc-txt {
    margin-left: 0px;
  }
  body
    #all-page
    #container-area
    #cards-track
    .cards
    .card
    .content-card
    .desc-content
    .img-desc
    img {
    width: 70%;
  }
  span,
  p,
  ::placeholder {
    color: white;
    font-size: 21px !important;
  }
}

// MEDIA QUERY PLAYERS AREA

@media (max-width: 1832px) and (min-width: 1367px) {
  body #all-page .players-area .areas #loFi-card {
    flex-direction: column;
  }
}
@media (max-width: 1644px) {
  body #all-page .players-area #listen-area {
    display: none;
  }
  body #all-page .players-area #tracks-area {
    width: 100%;
  }
  body #all-page .players-area #friends-area {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  body #all-page {
    margin-top: 50px;
  }
  span,
  p,
  ::placeholder {
    font-size: 16px !important;
  }
  body .barra {
    width: 100vw;
  }
  body #all-page .players-area #tracks-area {
    width: 100%;
    width: 65% !important;
  }
  body #all-page .players-area #friends-area {
    width: 100%;
    width: 35% !important;
  }

  body #all-page .players-area .areas #loFi-card .lofi-1 {
    display: flex;
    justify-content: center;
  }

  body #all-page .players-area .areas #loFi-card .lofi-1 img {
    width: 50%;
  }
}
@media (max-width: 1094px) {
  body #all-page .players-area .areas {
    width: 98% !important;
  }
}
@media (max-width: 954px) {
  body #all-page .players-area .areas #loFi-card {
    flex-direction: column;
  }
  body #all-page .players-area #tracks-area {
    width: 100% !important;
  }
  body #all-page .players-area #friends-area {
    width: 100%;
    width: 100% !important;
  }
}
